# Fala devs, blz?? 

Esta será nossa quinta lista de exercícios para você testar seu conhecimento acerca do conteúdo do MÓDULO 3:

-Pandas I

Para esta lista de exercícios utilizaremos uma base de dados contendo informações sobre a performance de alunos em exames
. A base de dados está disponível para download na plataforma Kaggle a partir do link abaixo:

https://www.kaggle.com/datasets/spscientist/students-performance-in-exams

## QUESTÃO 0

Carregue os dados do arquivo "StudentPerformance.csv" em um DataFrame com nome "df" e mostre as primeiras suas 10 primeiras linhas. 
<br>
*Certifique-se de que o arquivo se encontra no mesmo diretorio da lista 5.

In [3]:

import pandas as pd

#seu código começa aqui

df = pd.read_csv("StudentsPerformance.csv")

df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

Agora mostre as 10 **últimas** linhas do DataFrame.

In [4]:
#SEU CÓDIGO COMEÇA AQUI
df.tail(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## QUESTÃO 1

**Exploração Inicial dos Dados**

a) Verifique o número de linhas e colunas no DataFrame. **(.shape)**

In [5]:
#SEU CÓDIGO COMEÇA AQUI
df.shape

(1000, 8)

b) Liste as colunas presentes no DataFrame. **(.columns)**

In [6]:
#SEU CÓDIGO COMEÇA AQUI
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

c) Verifique se há valores nulos em cada coluna.

In [7]:
#SEU CÓDIGO COMEÇA AQUI
df.isnull()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False

## QUESTÃO 2

a) Antes de começarmos a trabalhar com os dados é preciso descartar dados que não serão utilizados em nossa análise. Utilize a lista abaixo para remover colunas irrelevantes.

In [8]:
remover = ["parental level of education","lunch"]

#SEU CÓDIGO COMEÇA AQUI
df.drop(['parental level of education','lunch'], axis=1, inplace=True)
print(df)

     gender race/ethnicity test preparation course  math score  reading score  \
0    female        group B                    none          72             72
1    female        group C               completed          69             90
2    female        group B                    none          90             95
3      male        group A                    none          47             57
4      male        group C                    none          76             78
..      ...            ...                     ...         ...            ...
995  female        group E               completed          88             99
996    male        group C                    none          62             55
997  female        group C               completed          59             71
998  female        group D               completed          68             78
999  female        group D                    none          77             86

     writing score
0               74
1               88
2               93
3               44
4               75
..             ...
995             95
996             55
997             65
998             77
999             86

[1000 rows x 6 columns]

b) Agora utilize o dicionário abaixo para renomear as colunas restantes.

In [12]:
nome_colunas = {
    "gender": "Gênero",
    "race/ethinicity": "Raça/Etnia",
    "test preparation course": "Curso_Prep",
    "math score" : "Nota_Matemática",
    "reading score":"Nota_Leitura",
    "writing score" : "Nota_Redação"
}

#SEU CÓDIGO COMEÇA AQUI
dados=df.rename(columns={"gender": "Gênero",
    "race/ethinicity": "Raça/Etnia",
    "test preparation course": "Curso_Prep",
    "math score" : "Nota_Matemática",
    "reading score":"Nota_Leitura",
    "writing score" : "Nota_Redação"})
print(dados)

     Gênero race/ethnicity Curso_Prep  Nota_Matemática  Nota_Leitura  \
0    female        group B       none               72            72
1    female        group C  completed               69            90
2    female        group B       none               90            95
3      male        group A       none               47            57
4      male        group C       none               76            78
..      ...            ...        ...              ...           ...
995  female        group E  completed               88            99
996    male        group C       none               62            55
997  female        group C  completed               59            71
998  female        group D  completed               68            78
999  female        group D       none               77            86

     Nota_Redação
0              74
1              88
2              93
3              44
4              75
..            ...
995            95
996            55
997            65
998            77
999            86

[1000 rows x 6 columns]

## QUESTÃO 3

Crie um DataFrame com as estatísticas descritivas de cada coluna com valores númericos. Estatísticas descritivas incluem dados como: média, mediana, desvio padrão, mínimo e máximo para cada uma dessas colunas.

In [13]:
#SEU CÓDIGO COMEÇA AQUI
# selecionamdo as colunas com números
colunas = dados.select_dtypes(include='number')

# calculando as estatísticas
estatisticas = {
    'mean': colunas.mean(),
    'median': colunas.median(),
    'std': colunas.std(),
    'min': colunas.min(),
    'max': colunas.max()
}

estatisticas_descritivas = pd.DataFrame(estatisticas)
print(estatisticas_descritivas)

                   mean  median        std  min  max
Nota_Matemática  66.089    66.0  15.163080    0  100
Nota_Leitura     69.169    70.0  14.600192   17  100
Nota_Redação     68.054    69.0  15.195657   10  100

## QUESTÃO 4

Crie um novo DataFrame contendo apenas os alunos que tiveram nota maior que a média em todos os exames chamado "df_acima_media". Mostre o DataFrame resultante e quantos dos alunos totais estão na nova tabela.

In [14]:
#SEU CÓDIGO COMEÇA AQUI
media_mat = colunas['Nota_Matemática'].mean()
media_leit = colunas['Nota_Leitura'].mean()
media_redação = colunas['Nota_Redação'].mean()

df_acima_media = dados[
    (dados['Nota_Matemática'] > media_mat) & 
    (dados['Nota_Leitura'] > media_leit) & 
    (dados['Nota_Redação'] > media_redação)
]
print(df_acima_media)

alunos_acima_media = len(df_acima_media)
print(alunos_acima_media)

     Gênero race/ethnicity Curso_Prep  Nota_Matemática  Nota_Leitura  \
0    female        group B       none               72            72
1    female        group C  completed               69            90
2    female        group B       none               90            95
4      male        group C       none               76            78
5    female        group B       none               71            83
..      ...            ...        ...              ...           ...
989  female        group D  completed               67            86
990    male        group E  completed               86            81
995  female        group E  completed               88            99
998  female        group D  completed               68            78
999  female        group D       none               77            86

     Nota_Redação
0              74
1              88
2              93
4              75
5              78
..            ...
989            83
990            75
995            95
998            77
999            86

[374 rows x 6 columns]
374

## QUESTÃO 5

Crie uma nova coluna no Dataframe "df" com o nome "Nota_Geral" que represente a média da nota de cada aluno nas 3 disciplinas. Utilize esta nova coluna para ordenar os alunos de acordo com sua nota de forma que o aluno com maior nota geral esteja na primeira linha do DataFrame.

In [18]:
#SEU CÓDIGO COMEÇA AQUI


dados['Nota_Geral']= (dados['Nota_Matemática']+dados['Nota_Leitura']+dados['Nota_Redação'])/3
df_arrumado = dados.sort_values(by='Nota_Geral', ascending=False).reset_index(drop=True)
df_arrumado

,Gênero,race/ethnicity,Curso_Prep,Nota_Matemática,Nota_Leitura,Nota_Redação,Nota_Geral
0,male,group E,completed,100,100,100,100.000000
1,female,group E,none,100,100,100,100.000000
2,female,group E,none,100,100,100,100.000000
3,female,group E,completed,99,100,100,99.666667
4,female,group D,completed,97,100,100,99.000000
...,...,...,...,...,...,...,...
995,male,group E,none,30,26,22,26.000000
996,male,group A,none,28,23,19,23.333333
997,male,group B,none,30,24,15,23.000000
998,female,group B,none,8,24,23,18.333333
999,female,group C,none,0,17,10,9.000000

## QUESTÃO 6

a) Conte quantos dos alunos pertencem a cada gênero.

In [19]:
#SEU CÓDIGO COMEÇA AQUI
print(df['gender'])
contagem = df['gender'].value_counts()
contagem

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

gender
female    518
male      482
Name: count, dtype: int64

b) Conte quantos dos alunos pertencem a cada Raça/Etnia.

In [21]:
#SEU CÓDIGO COMEÇA AQUI
raça = df['race/ethnicity'].value_counts()
raça

race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

c) Conte quantos dos alunos realizaram ou não algum curso preparatório.

In [23]:
#SEU CÓDIGO COMEÇA AQUI
curso = df['test preparation course'].value_counts()
curso

test preparation course
none         642
completed    358
Name: count, dtype: int64

## QUESTÃO 7

Neste exercício deseja-se observar se o gênero de um aluno tem influência sobre seu acesso a cursos preparatórios. Para realizar esta tarefa agrupe os alunos de acordo com seus respectivos genêros (.groupby) e obtenha as proporções daqueles que realizaram algum curso e aqueles que não para cada um dos grupos (para obter a contagem da frequência relativa de um valor utilize **normalize=True**).

In [ ]:
#SEU CÓDIGO COMEÇA AQUI

gender = df.groupby('gender')

media = gender["test preparation course"].value_counts(normalize=True)

media

gender  test preparation course
female  none                       0.644788
        completed                  0.355212
male    none                       0.639004
        completed                  0.360996
Name: proportion, dtype: float64

## QUESTÃO 8

Neste exercício deseja-se observar qual das disciplinas examindas (Matemática, Leitura, Redação) é mais influênciada por cada um dos fatores qualitivos (Gênero, Raça/Etnia, Realização de Curso Preparatório). Para isso, agrupe a base de dados para cada um dos fatores qualitativos e calcule a diferença entre a maior e menor nota média em cada uma das disciplinas. A disciplina que possuir maior diferença entre as notas médias será considerada a mais influênciada.

a) Qual disciplina possui a maior diferença entre as notas médias de homens e mulheres.

In [45]:
#SEU CÓDIGO COMEÇA AQUI
gender = df.groupby('gender')
disciplinas = ['math score',  'reading score' ,'writing score']
def cal_diferencas(df,x):
    diferencas = {}
    for disciplina in disciplinas:
        medias = df.groupby(x)[disciplina].mean()
        diferencas[disciplina] = medias.max() - medias.min()
    return diferencas
diferencas_genero = cal_diferencas(df,'gender')
mais_influenciada = max(diferencas_genero, key=diferencas_genero.get)

print(mais_influenciada)

writing score

b) Qual disciplina possui a maior diferença entre a maior e menor nota média dentre as diferentes Raças/Etnias.

In [46]:
#SEU CÓDIGO COMEÇA AQUI
race = df.groupby('race/ethnicity')
diferenças_raça= cal_diferencas(df,'race/ethnicity')
raça_influenciada= max(diferenças_raça, key=diferenças_raça.get)
print(raça_influenciada)

math score

c) Qual disciplina possuir a maior diferença entre as notas médias daqueles que realizaram ou não cursos preparatórios.

In [51]:
#SEU CÓDIGO COMEÇA AQUI
course = df.groupby('test preparation course')
diferenças_curso= cal_diferencas(df,'test preparation course')
curso_influ=max(diferenças_curso, key=diferenças_curso.get)
print(curso_influ)

writing score

## QUESTÃO 9

Neste exercício deseja-se observar qual dos fatores qualitativos (Gênero, Raça/Etnia, Realização de Curso Preparatório) possui maior discrepância de desempenho entre suas categorias para a nota geral do exame. Para isso, calcule a diferença entre a maior e menor nota média para cada um dos fatores e indique qual teve maior diferença. Utilize as funções (.groupby) e (.mean).

Qual das colunas possui maior discrepância para as Notas Gerais?

In [69]:
#SEU CÓDIGO COMEÇA AQUI
df['nota_geral'] = df[['math score',  'reading score', 'writing score']].mean(axis=1)
fatores_qualitativos = ['gender', 'race/ethnicity', 'test preparation course']

def cal_diferencas2(df, y):
    medias = df.groupby(y)['nota_geral'].mean()
    diferenca = medias.max() - medias.min()
    return diferenca

diferencas = {y: cal_diferencas2(df,y) for y in fatores_qualitativos}

mais_influenciado = max(diferencas, key=diferencas.get)

print(mais_influenciado)

race/ethnicity